@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="login-form">
        <form action="">
            <input type="text" placeholder="Insert here the domain" autocomplete="off" name="domain">
            <button type="submit" class="">Search</button>
        </form>
    </div>
</div>
